.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;

    height: 100px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding-right: 20px;
}

.logo {
    color: white;
    background-color: green;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    border-style: solid;
}

.logo-button {
   background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.logo-remake-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
}
.logo-remake {
    display: flex;
}
.logo-remake div {
    color: rgb(0, 0, 0);
    width: 35px;
    height: 35px;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    border-style: solid;
}
.logo-remake-clone {
    font-weight: bold;
    font-size: 15px;
}

.navbar-title {
    font-size: 30px;
    font-weight: bold;
    /* padding-left: 90px; */
    color: black;
    text-decoration: none;
    position: absolute;

    float: none;
    top: 50%;
    left: 49.2%;
    transform: translate(-50%, -50%);
}

.nav-buttons {
    display: relative;
    /* padding-right: 20px; */
    align-items:end;
    
}

.navbar-container a, span{
    padding-left: 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    transition: all 0.15s;
}
.nav-buttons a:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.navbar-container button {
    background: #fff;
    /* color: rgb(50, 146, 248); */
    color: green;
    border: 2px solid green;
    padding: 6px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16;
    transition: all 0.15s;
    /* margin-right: 20px; */
}
.navbar-container button:hover {
    color: white;
    background-color: green;
}

.navpfp {
    margin-left: 0px;
    margin-right: 60px;
    display: flex;
    align-items: left;
    justify-content: center;
    transition: all 0.15s;
}
.navpfp:hover {
    opacity: 0.7;
}
.navpfp img {
    width: 50px;
    margin-right: 5px;
    margin-left: 0px;
    border-radius: 15px;
}



.asidebar-box {
    position:absolute;
    width: auto;
    height: auto;
    top: 100px;
    right: 0px;
    border-radius: 20px;
    background-color: rgb(253, 253, 253);
    border-style: solid;
    border-color:lightgray;
    float:left;

}

.side-bar-container {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
    margin-left: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
    
}

.side-bar-container {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
    margin-left: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
    
}

.Grid-class {
    align-items: center;
    margin-top: auto;
}


.align-dot {
    position:relative;
}

.log_out{
    margin-right:50px;
}


.font-final1{
    color: black;
    font-size: 16px;
    font-weight: 600px;
}