.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row > div {
    display: block;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(200, 200, 200);
    margin: 3px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.row.curr > div.filled {
    animation: type 0.2s ease-in-out forwards;
}

.green {
    --background-color: green;
    --border-color: green;
    --color: white;
    animation: reveal 0.5s ease forwards;
}

.gray {
    --background-color: gray;
    --border-color: gray;
    --color: white;
    animation: reveal 0.5s ease forwards;
}

.yellow {
    --background-color: #b59f3b;
    --border-color: #b59f3b;
    --color: white;
    animation: reveal 0.5s ease forwards;
}

.row > div:nth-child(2) {
    animation-delay: 0.4s;
}
.row > div:nth-child(3) {
    animation-delay: 0.8s;
}
.row > div:nth-child(4) {
    animation-delay: 1.2s;
}
.row > div:nth-child(5) {
    animation-delay: 1.6s;
}

@keyframes reveal {
    0% {
        transform: rotateX(0);
        background: white;
    }
    45% {
        transform: rotateX(90deg);
        background: white;
    }
    55% {
        transform: rotateX(90deg);
        background-color: var(--background-color);
        border-color: var(--border-color);
        color: var(--color);
    }
    100% {
        transform: rotate(0);
        background-color: var(--background-color);
        border-color: var(--border-color);
        color: var(--color);
    }
}

@keyframes type {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        border-color: gray;
    }
}
