:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}

.row {
  display: flex;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.none, .gry, .grn, .ylw, .enter-button, .delete-button {
  height: 52px;
  width: 40px;
  font-size: 18px;
  font-weight: bold;
  border-style: none;
  border-radius: 6px;
  background-color: rgb(211, 211, 211);
  color: black;
  margin: 2.5px;
  cursor: pointer;
}

.gry {
  background-color: gray;
  color: white;
  transition-property: background-color, color;
  transition-delay: 2s;
}

.grn {
  background-color: green;
  color: white;
  transition-property: background-color, color;
  transition-delay: 2s;
}

.ylw {
  background-color: #b59f3b;
  color: white;
  transition-property: background-color, color;
  transition-delay: 2s;
}


.enter-button, .delete-button {
  width: 60px;
  font-size: 12px;
  line-height: 0;
}

.square, .gray, .green, .yellow, .filled {
  margin: 4px;
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(200, 200, 200);
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}

/* .gray {
  background-color: gray;
  border-color: gray;
  color: white;
}

.green {
  background-color: green;
  border-color: green;
  color: white;
}

.yellow {
  background-color: rgb(206, 206, 0);
  border-color: rgb(206, 206, 0);
  color: white;
} */

.green {
  --background-color: green;
  --border-color: green;
  --color: white;
  animation: reveal 0.5s ease forwards;
}

.gray {
  --background-color: gray;
  --border-color: gray;
  --color: white;
  animation: reveal 0.5s ease forwards;
}

.yellow {
  --background-color: #b59f3b;
  --border-color: #b59f3b;
  --color: white;
  animation: reveal 0.5s ease forwards;
}

.row > div:nth-child(2).yellow, div:nth-child(2).green, div:nth-child(2).gray {
  animation-delay: 0.4s;
}
.row > div:nth-child(3).yellow, div:nth-child(3).green, div:nth-child(3).gray {
  animation-delay: 0.8s;
}
.row > div:nth-child(4).yellow, div:nth-child(4).green, div:nth-child(4).gray {
  animation-delay: 1.2s;
}
.row > div:nth-child(5).yellow, div:nth-child(5).green, div:nth-child(5).gray {
  animation-delay: 1.6s;
}


form.signup, form.login {
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
form button {
  background: green;
  border-style: solid;
  color: white;
  border-width: 2px;
  border-color: green;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.15s;
}
form button:hover {
  background-color: white;
  color: green;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

@keyframes reveal {
  0% {
      transform: rotateX(0);
      background: white;
  }
  45% {
      transform: rotateX(90deg);
      background: white;
  }
  55% {
      transform: rotateX(90deg);
      background-color: var(--background-color);
      border-color: var(--border-color);
      color: var(--color);
  }
  100% {
      transform: rotate(0);
      background-color: var(--background-color);
      border-color: var(--border-color);
      color: var(--color);
  }
}

.filled {
  animation: typing 0.3s ease-in-out forwards;
  animation-delay: 0;
}

@keyframes typing {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
      border-color: gray;
  }
}

@keyframes keyboard {
  0% {

  }
}

.rank-1 {
  color: gold;
  position: relative;
}
.rank-2 {
  color: silver;
  position: relative;
}
.rank-3 {
  color: brown;
  position: relative;
}
.rank-num {
  position: absolute;
  left: -60px;
  bottom: 27px;
  font-size: 50px;
  font-weight: bold;
}

.profile {
  margin-top: 200px;
}
.pfp {
  width: 100px;
}


.leaderboard {
  margin-top: 125px;
}
.user-pfp {
  width: 50px;
  border-radius: 25px;
}
.user-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.user-container h4, p {
  padding: 0px;
  margin: 0px;
}
.user-image-container {
  margin-right: 30px;
}
.user-container span {
  background-color: green;
  border-radius: 20px;
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: 8px 15px;
  margin-left: 0px;
  cursor: pointer;
  transition: all 0.15s;
  font-size: 13.3px;
}
.user-container span:hover {
  background-color: white;
  color: green;
}
.user-info-container {
  width: 150px;
}

/* PROFILE PAGE STYLES */

.profile-container {
  display: flex;
  margin-top: 150px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 500px;
}
.image-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.pfp {
  width: 200px;
  border-radius: 100px;
}
.profile-username {
  font-size: 40px;
  font-weight: bold;
}
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  margin-left: 30px;
}
.profile-email {
  margin-top: -15px;
  margin-bottom: 10px;
  color: gray;
}
.category {
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}

.leaderboard {
  margin-top: 125px;
}
.user-pfp2 {
  width: 100px;
  border-radius: 50px;
}
.user-container2 {
  width: 370px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  margin: 20px 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.user-container2 h4, p {
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
}
.user-container2 p {
  font-size: 18px;
}
.user-container2 h4 {
  font-size: 30px;
}
.user-image-container2 {
  margin-right: 30px;
}
.user-container2 span {
  background-color: rgb(50, 146, 248);
  border-radius: 5px;
  color: white;
  padding: 8px 15px;
  margin-left: 0px;
  cursor: pointer;
}
.user-info-container2 {
  width: auto;
}
.you {
  width: 370px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  margin: 20px 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 128, 0, 0.3);
  border-style: solid;
  border-color: green;
  border-width: 1px;
}
.you h4 {
  font-size: 30px;
  display: flex;
}
.you h4, p {
  padding: 0px;
  margin: 0px;
}
.you p {
  font-size: 18px;
}

.upload {
  color: white;
  background-color: green;
  border-style: solid;
  border-color: green;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 15px;
  transition: all 0.15s;
  cursor: pointer;
}
.upload:hover {
  color: green;
  background-color: white;
}

